.vs/
.vscode/
.idea/

**/[Bb]in/*
**/[Oo]bj/*
**/*.csproj.user
**/logs
/BECoffeeShop/CoffeManagement/Controllers/TestController.cs
/BECoffeeShop/CoffeManagement/efpt.config.json
/BECoffeeShop/CoffeManagement/efpt.config.json.user
/BECoffeeShop/.vs/*
